* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  background: #363535;
  font-family: Arial, Helvetica, sans-serif;
}

path.link {
  stroke: #0f0000;
  stroke-width: 1.5px;
}

.node circle {
  fill: #fff;
  stroke: rgba(27, 123, 201, 0.664);
  stroke-width: 3px;
}
.node text {
  fill: rgb(0, 23, 100);
}
.node text {
  font: 13px sans-serif;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

.recent circle {
  fill: #000550;
  stroke-width: 4px;
  stroke: rgb(127, 228, 59);
}
.recent text {
  fill: rgb(101, 252, 1);
}
form {
  display: flex;
  margin: 5px;
}

input {
  outline: none;
  width: 175px;
  line-height: 1.3rem;
  font-size: 1.1rem;
  padding: 2px 8px;
  border: 2px solid rgb(0, 66, 66);
  border-radius: 5px;
  background: #d1c2c2;
  color: rgb(0, 0, 0);
}
.btn,
.traversal {
  background: gray;
  font-size: 1.1rem;
  width: 100px;
  padding: 0.2rem 0;
  margin-left: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.btn[type="submit"] {
  width: 40px;
}
.form-container {
  height: calc(100% - 3rem);
  width: 250px;
  position: absolute;
  left: 0;
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}
.traversals {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.navbar {
  width: 100%;
  height: 3rem;
  text-align: center;
  background: linear-gradient(68deg, rgb(82, 54, 54), #976767);
  font-size: 1.5rem;
  line-height: 3rem;
  color: yellowgreen;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  letter-spacing: 2px;
}
.box {
  width: 100%;
  margin-top: 2rem;
  padding-right: 5px;
}
#message-heading {
  text-align: center;
  margin: 5px;
}
#message {
  background-color: rgba(10, 0, 20, 0.911);
  color: #dfdfdf;
  font-size: calc(1rem + 1px);
  border-radius: 4px;
}
@media only screen and (max-width: 768px) {
  .form-container {
    justify-content: flex-start;
    gap: 1rem;
    margin-left: 0;
    width: 150px;
  }
  input {
    width: 100px;
  }
  .navbar {
    font-size: 1.3rem;
    letter-spacing: 1px;
  }
  .traversals {
    grid-template-columns: repeat(1, 1fr);
  }
}
